<template id="profile">
  <div class="custom-container flex">
    <div class="">
      <header class="dashboard__header">
        <img
          class="profile-icon"
          src="public/icons/profile-default-svgrepo-com.svg"
          alt="profile-icon"
        />
        <p class="dashboard__header-p">Hello,</p>
        <p class="dashboard__header-p">d6412248@gmail.com</p>
      </header>
      <ul class="account-menu">
        <li class="account-menu__item">Dashboard</li>
        <li class="account-menu__item">Orders</li>
        <li class="account-menu__item">Downloads</li>
        <li class="account-menu__item">Adress</li>
        <li class="account-menu__item">
          Account<span class="opacity-0">_</span>details
        </li>
        <li class="account-menu__item">Logout</li>
      </ul>
    </div>

    <div class="profile-content flex-1"></div>
  </div>
</template>
