<template id="resetpassword">
  <form class="custom-container signin-form">
    <div class="signin-form-content signin-form-padding mt-10">
      <div class="">
        <p class="password-form-lost-text">
          Lost your password? Please enter your username or email address. You
          will receive a link to create a new password via email.
        </p>
        <label class="signin-form-label grid gap-5 mt-5 text-xs">
          Username or email
          <input class="signin-profil-form__input" type="password" />
        </label>
      </div>
      <button class="signin-form-button singin">Reset password</button>
    </div>
  </form>
</template>
