<template id="signup">
  <form class="custom-container signin-form">
    <div class="signin-form-content signin-form-padding">
      <h2 class="create-account">Создать аккаунт</h2>
      <label class="signin-form-label">
        Имя пользователя *
        <input class="signin-profil-form__input" type="text" />
      </label>
      <label class="signin-form-label">
        Email *
        <input class="signin-profil-form__input" type="email" />
      </label>
      <label class="signin-form-label">
        Пароль *
        <input class="signin-profil-form__input" type="password" />
      </label>
      <p class="signup-form-policy-text">
        Ваши личные данные будут использоваться для упрощения вашего дальнейшего
        взаимодействия с сайтом, управления доступом к вашему аккаунту и других
        целей, описанных в документе privacy
        <a href="/masculino#/policy" class="policy-link">policy.</a>
      </p>
      <button class="signin-form-button singup">Создать аккаунт</button>
      <div class="signin-form-ls-or">
        <div class="line"></div>
        <span style="color: rgb(255, 255, 255)">Или</span>
        <div class="line"></div>
      </div>
      <a
        href="/masculino#/signin"
        class="signin-form-button singin flex justify-center"
        >Войти</a
      >
    </div>
  </form>
</template>
