@import 'tailwindcss';
@reference "tailwindcss";

* {
  font-family: Montserrat, sans-serif !important;

  @apply text-white;
}

body,
#app {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}
#app {
  display: flex;
  flex-direction: column;
}
.burger-button {
  @apply w-10 h-10 flex flex-col items-center justify-center gap-1.5;
  display: none;
}
.content {
  flex: 1 1 auto;
}
button {
  color: inherit;
}
.custom-container {
  width: 90%;
  margin: 0 auto;
}
.header__nav {
  @apply flex items-center;
}
.header__lists {
  @apply flex justify-between;
  flex: 1 1 auto;
}
.masculino_logo {
  @apply w-43;
}
.header__menu {
  @apply flex items-center gap-6 ml-4 text-base;
}

.header__item {
}
.header__button {
  @apply cursor-pointer duration-300 ease-in-out hover:text-amber-300;
}
.header__button path {
  @apply duration-300 ease-in-out;
}
.header__button:hover path {
  @apply text-amber-300;
}
.header {
  @apply border-b py-6;
}
.main {
  @apply mt-10;
}
.filter-column:not(:first-child) {
  @apply pt-8;
}
.filter-column:not(:last-child) {
  @apply pb-8 border-b;
}
.filter-column,
.ulInWrap {
  @apply grid gap-5;
}
.filtr__button {
  @apply text-sm cursor-pointer hover:text-amber-300 duration-300 ease-in-out;
}
.filtr__button.active {
  @apply text-amber-300;
}
.aside {
  @apply w-[20%];
}
/* cards container */
.cards {
  @apply flex flex-wrap gap-x-[20px] gap-y-[20px] content-start w-[80%];
}

/* card block */
.card {
  @apply relative;
  width: calc((100% - (3 * 20px)) / 4);
  height: max-content;
}
.card img {
  display: block;
  width: 100%;
}
/* картинка */
.card__image-block {
  @apply relative;
}

.card__visible-img {
  @apply block;
}

.card__hover-img {
  @apply absolute top-0 left-0 right-0 bottom-0 opacity-0 transition-opacity duration-500 ease-in-out;
}
.card:hover .card__hover-img {
  @apply opacity-100;
}

/* тело карточки */
.card__body {
  @apply flex flex-col gap-[10px];
}

.card__title {
  @apply text-[16px];
}

.card__action {
  @apply bg-transparent flex justify-end items-center border-none relative z-[2];
}

.card__link {
  @apply absolute inset-0 opacity-0;
}

body {
  @apply font-sans;
}

.titleXbutton {
  @apply flex items-center justify-between;
}

.price {
  /* можно сюда добавить @apply text-sm font-bold если надо */
}

.card__action .svg__path {
  @apply fill-transparent stroke-amber-50 transition-colors duration-200 ease-in cursor-pointer;
}

.card__action:hover .svg__path {
  @apply fill-amber-50;
}
.liked:hover .svg__path {
  @apply fill-yellow-300 stroke-0;
}
.liked .svg__path {
  @apply fill-yellow-300 stroke-0;
}
.images-list {
  @apply flex flex-wrap gap-[10px] mt-[10px];
}
.images-list li {
  cursor: pointer;
  width: calc((100% - 4 * 10px) / 5);
}
.selectable-img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.selectable-img.active {
  opacity: 30%;
}
.modal {
  @apply fixed top-0 left-0 right-0 bottom-0 h-[100vh] w-[100wv] hidden;
}
.modal-blure {
  @apply absolute top-0 left-0 right-0 bottom-0 h-[100vh] w-[100wv];
}
.image-modal__blure {
  background-color: rgba(255, 255, 255, 0.9);
}
.modal-search__blure {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-search__input {
  flex: 1 1 auto;
  @apply border-b;
}
.modal.open {
  @apply block;
}
.modal-content {
  @apply h-[100vh] w-[100wv] relative;
}
.image-modal__content {
  @apply flex items-center justify-between px-5;
}
.image-modal__img {
  max-height: 100vh; /* вписать в высоту экрана (90% от viewport height) */
  width: auto; /* ширина автоматически по пропорциям */
  max-width: 90vw; /* ограничиваем ширину до 90% экрана */
  height: auto; /* сохраняем пропорции */
  display: block;
}
.Additional-information {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
a.disabled {
  @apply text-gray-500;
}
.footer {
  @apply text-gray-500;
}
@media (max-width: 991px) {
  .burger-button {
    display: flex;
  }
  .header__seasons {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
  .header__menu {
    margin-left: 0;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__interactive-items {
    @apply flex items-center justify-between w-[100%];
  }
  .header__lists {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      padding-bottom 0.3s ease;
    flex-direction: column;
  }
  .cards {
    @apply w-[100%];
  }
  .aside {
    @apply w-[100%];
  }
  .root-container {
    flex-direction: column;
  }
  .ulInWrap {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      padding-bottom 0.3s ease;
  }

  ul.filter-column {
    gap: 0;
  }
  ul.filter-column:not(:first-child) {
    padding-top: 0;
  }
  ul.filter-column:not(:last-child) {
    padding-bottom: 0;
  }
  .li-button {
    @apply py-5;
  }
  .card {
    width: calc((100% - (1 * 20px)) / 2);
  }
}
@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}
