@import 'tailwindcss';
@reference "tailwindcss";

* {
  font-family: Montserrat, sans-serif !important;

  color: white;
}

body,
#app {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}
#app {
  display: flex;
  flex-direction: column;
}
.burger-button {
  @apply w-10 h-10 flex flex-col items-center justify-center gap-1.5;
  display: none;
}
.content {
  flex: 1 1 auto;
}
button {
  color: inherit;
}
.custom-container {
  width: 90%;
  margin: 0 auto;
}
.header__nav {
  @apply flex items-center;
}
.header__lists {
  @apply flex justify-between;
  flex: 1 1 auto;
}
.masculino_logo {
  @apply w-43;
}
.header__menu {
  @apply flex items-center gap-6 ml-4 text-base;
}

.header__item {
}
.header__button {
  @apply cursor-pointer duration-300 ease-in-out hover:text-amber-300;
}
.header__button path {
  @apply duration-300 ease-in-out;
}
.header__button:hover path {
  @apply text-amber-300;
}
.header {
  @apply border-b py-6;
}
.cart-wrap {
  @apply absolute top-0 left-0 right-0 bottom-0;
}
.cart-blure {
  @apply fixed top-0 left-0 right-0 bottom-0 h-[100vh] w-[100wv] z-3;
  background-color: rgba(0, 0, 0, 0.5);
}
.cart {
  background-color: black;
  @apply absolute right-0 top-0 bottom-0 z-4 flex flex-col pb-6 w-[25%];
}
.cart__padding {
  @apply px-6;
}
.cart__header {
  @apply flex justify-end py-7 border-b;
}
.cart__close-button {
}
.cart__body {
  flex: 1 1 auto;
}
.cart__cart-empty {
  @apply items-center hidden flex-col mt-7 gap-4;
}
.cart__continue-button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  opacity: 0.7;
  padding: 5px 25px;
}
.cart__products {
  @apply mt-5 grid gap-2.5;
}
.product {
  @apply flex gap-3 w-[100%];
}
.product__header {
  @apply flex justify-between;
}
.product__image-wrap {
  @apply w-[65px];
}
.product__img {
  @apply block w-[100%];
}
.product__info {
  flex: 1 1 auto;
}
.product__title {
  @apply text-sm;
}
.product__color {
  @apply text-sm;
}
.product__size-wrap {
}
.product__size {
}
.product__body {
}
.product__footer {
  @apply flex justify-between items-center;
}
.product__quantity-wrap {
  @apply flex items-center;
}
.cart__footer {
  @apply flex flex-col gap-4;
}
.cart__total {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 10px 10px;
}
.cart__total-price {
}
.see-cart {
  @apply items-center flex flex-col text-center py-1;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 7px;
}
.cart__check {
  @apply rounded py-2;
  background-color: rgb(184, 132, 1);
}
.main {
  @apply mt-10;
}
.filter-column:not(:first-child) {
  @apply pt-8;
}
.filter-column:not(:last-child) {
  @apply pb-8 border-b;
}
.filter-column,
.ulInWrap {
  @apply grid gap-5;
}
.filtr__button {
  @apply text-sm cursor-pointer hover:text-amber-300 duration-300 ease-in-out;
}
.filtr__button.active {
  @apply text-amber-300;
}
.aside {
  @apply w-[20%];
}
/* cards container */
.cards {
  @apply flex flex-wrap gap-x-[20px] gap-y-[20px] content-start w-[80%];
}
.cards.cards-shop {
  @apply w-[100%];
}
/* card block */
.card {
  @apply relative;
  width: calc((100% - (3 * 20px)) / 4);
  height: max-content;
}
.card img {
  display: block;
  width: 100%;
}
/* картинка */
.card__image-block {
  @apply relative;
}

.card__visible-img {
  @apply block;
}

.card__hover-img {
  @apply absolute top-0 left-0 right-0 bottom-0 opacity-0 transition-opacity duration-500 ease-in-out;
}
.card:hover .card__hover-img {
  @apply opacity-100;
}

/* тело карточки */
.card__body {
  @apply flex flex-col gap-[10px];
}

.card__title {
  @apply text-[16px];
}

.card__action {
  @apply bg-transparent flex justify-end items-center border-none relative z-[1];
}

.card__link {
  @apply absolute inset-0 opacity-0;
}

body {
  @apply font-sans;
}

.titleXbutton {
  @apply flex items-center justify-between;
}

.price {
  /* можно сюда добавить @apply text-sm font-bold если надо */
}

.card__action .svg__path {
  @apply fill-transparent stroke-amber-50 transition-colors duration-200 ease-in cursor-pointer;
}

.card__action:hover .svg__path {
  @apply fill-amber-50;
}
.liked:hover .svg__path {
  @apply fill-yellow-300 stroke-0;
}
.liked .svg__path {
  @apply fill-yellow-300 stroke-0;
}
.bread-crumbs__link {
  transition: color 0.2s ease-in;
}
.bread-crumbs__link:hover {
  color: darkgoldenrod;
}
.images-list {
  @apply flex flex-wrap gap-[10px] mt-[10px];
}
.images-list li {
  cursor: pointer;
  width: calc((100% - 4 * 10px) / 5);
}
.selectable-img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.selectable-img.active {
  opacity: 30%;
}
.modal {
  @apply fixed top-0 left-0 right-0 bottom-0 h-[100vh] w-[100wv] hidden z-[3];
}
.modal-blure {
  @apply absolute top-0 left-0 right-0 bottom-0 h-[100vh] w-[100wv];
}
.image-modal__blure {
  background-color: rgba(255, 255, 255, 0.9);
}
.product-price {
  color: goldenrod;
}
.product-colors {
  @apply flex justify-between items-center;
}
.product-options__option {
  @apply border;
}
.product-options__pading {
  @apply px-3 py-3;
}
.sizes-ul__li {
  @apply flex justify-end;
  color: rgb(73, 73, 73);
  border-top: 1px solid white;
}
.sizes-ul__li.active {
  color: goldenrod;
}
.sizes-ul__li:hover {
  background-color: rgba(106, 106, 106, 0.471);
}
.sizes-ul__li.filter-column:not(:last-child) {
  border-bottom: 1px solid white;
}
.color-wrap {
  @apply flex gap-1;
}
.color-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  background-clip: content-box; /* делает padding реально видимым */
  padding: 2px; /* зазор между цветом и рамкой */
}
.color-circle.active {
  border-color: goldenrod;
}
.color-circle:hover {
  border-color: goldenrod;
}
.add-to-cart {
  background-color: rgb(128, 102, 0);
  cursor: pointer;
  @apply px-2 py-2 flex items-center justify-center w-[100%];
}
.add-to-cart.disabled {
  background-color: gray;
  cursor: not-allowed;
}
.modal-search__blure {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-search__input {
  flex: 1 1 auto;
  @apply border-b;
}
.modal-search__input:focus,
.modal-search__input:focus-visible {
  outline: none;
}
.modal-search__section {
  @apply flex flex-wrap gap-x-[20px] gap-y-[20px] content-start;
}
.modal.open {
  @apply block;
}
.modal-content {
  @apply h-[100vh] w-[100wv] relative;
}
.image-modal__content {
  @apply flex items-center justify-between px-5;
}
.image-modal__img {
  max-height: 100vh; /* вписать в высоту экрана (90% от viewport height) */
  width: auto; /* ширина автоматически по пропорциям */
  max-width: 90vw; /* ограничиваем ширину до 90% экрана */
  height: auto; /* сохраняем пропорции */
  display: block;
}
.Additional-information {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
a.disabled {
  @apply text-gray-500;
}
.footer {
  @apply text-gray-500;
}
@media (max-width: 991px) {
  .burger-button {
    display: flex;
  }
  .header__seasons {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0;
  }
  .header__menu {
    margin-left: 0;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__interactive-items {
    @apply flex items-center justify-between w-[100%];
  }
  .header__lists {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      padding-bottom 0.3s ease;
    flex-direction: column;
  }
  .cards {
    @apply w-[100%];
  }
  .aside {
    @apply w-[100%];
  }
  .root-container {
    flex-direction: column;
  }
  .ulInWrap {
    max-height: 0;
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      padding-bottom 0.3s ease;
  }

  ul.filter-column {
    gap: 0;
  }
  ul.filter-column:not(:first-child) {
    padding-top: 0;
  }
  ul.filter-column:not(:last-child) {
    padding-bottom: 0;
  }
  .li-button {
    @apply py-5;
  }
  .card {
    width: calc((100% - (1 * 20px)) / 2);
  }
}
@media (max-width: 425px) {
  .card {
    width: 100%;
  }
}
